* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.txt-wg {
  font-weight: 500px !important;
}

.kotak-login {
  padding-left: 3px !important;
  width: 80px !important;
  height: 35px !important;
  border: 2px solid !important;
}

.profile {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30%;
}
